<?xml version='1.0' encoding='utf-8'?>
<widget id="io.agenda.liber2" version="2.0.7" xmlns:cdv="http://cordova.apache.org/ns/1.1" xmlns:gap="http://phonegap.com/ns/1.1">
    <name>Agenda Escola Líber</name>
    <description>
        Aplicativo da Escola Liber. Acompanhe a vida escolar dos seus filhos de onde estiver.
    </description>
    <author email="contato@doctum.edu.br" href="http://www.doctum.edu.br">
        Equipe de Desenvolvimento Mobile - Doctum
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-splashscreen" source="npm" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" />
    <gap:plugin name="onesignal-cordova-plugin" source="npm" spec="2.4.5" />
    <preference name="phonegap-version" value="cli-10.0.0" />
    <preference name="android-build-tool" value="gradle" />
    <preference name="android-minSdkVersion" value="23" />
    <preference name="Orientation" value="portrait" />
    <preference name="windows-appx-target" value="8.1-phone" />
    <preference name="WindowsToastCapable" value="true" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <splash src="./www/img/Default@2x~universal~anyany.png" />
    <splash src="./www/img/Default@2x~universal~comany.png" />
    <splash src="./www/img/Default@2x~universal~comcom.png" />
    <splash src="./www/img/Default@3x~universal~anyany.png" />
    <splash src="./www/img/Default@3x~universal~anycom.png" />
    <splash src="./www/img/Default@3x~universal~comany.png" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" height="40" src="./res/ios/logo40x40.png" width="40" />
        <icon density="mdpi" height="120" src="./res/ios/logo120x120.png" width="120" />
        <icon density="hdpi" height="152" src="./res/ios/logo152x152.png" width="152" />
        <icon density="xhdpi" height="167" src="./res/ios/logo167x167.png" width="167" />
        <icon density="xxxhdpi" height="1024" src="./res/ios/logo1024x1024.png" width="1024" />
    </platform>
    <platform name="ios">
        <preference name="deployment-target" value="11.0" />
        <edit-config target="-Info.plist" parent="NSCameraUsageDescription">
            <string>The camera is optionally used to add a photo of the student to their profile.</string>
        </edit-config>
        <edit-config target="-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>The photo library is optionally used to add a student photo to your profile.</string>
        </edit-config>
        <edit-config target="-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>Access to your location is required when you use the pick up/take your child to school functionality</string>
        </edit-config>
        <allow-intent href="market:*" />
        <icon density="ldpi" height="40" src="./res/ios/logo40x40.png" width="40" />
        <icon density="mdpi" height="120" src="./res/ios/logo120x120.png" width="120" />
        <icon density="hdpi" height="152" src="./res/ios/logo152x152.png" width="152" />
        <icon density="xhdpi" height="167" src="./res/ios/logo167x167.png" width="167" />
        <icon density="xxxhdpi" height="1024" src="./res/ios/logo1024x1024.png" width="1024" />
    </platform>
</widget>
