<?xml version='1.1' encoding='utf-8'?>
<widget id="io.doctum.gestao" version="1.7.0" xmlns:gap="http://phonegap.com/ns/1.1" xmlns:cdv="http://cordova.apache.org/ns/1.1">
    <name>Doctum Gestão</name>
    <description>
        Trabalhe mesmo em trânsito. Facilite sua vida ao realizar algumas aprovações em nossas plataformas.
        O Doctum Gestão é o app para você que quer ser alertado em tempo real dos eventos que você precisa saber.
    </description>

    <author email="contato@doctum.edu.br" href="http://www.doctum.edu.br">
        Contato Doctum
    </author>

    <content src="app.html" />

    <gap:plugin name="onesignal-cordova-plugin" spec="^2.4.1" source="npm" />
    <plugin name="cordova-plugin-whitelist" source="npm"/>
    <plugin name="cordova-plugin-splashscreen" source="npm"/>
    <plugin name="cordova-plugin-background-fetch" source="npm" />
    <!-- Requires cli-8.0.0 but we recommend using the latest version. -->
    <preference name="phonegap-version" value="cli-8.0.0" /> 
    <preference name="android-build-tool" value="gradle" />
    <preference name="android-minSdkVersion" value="16" />

    <preference name="Orientation" value="portrait" />

    <!-- Can omit if not targetting Windows Phone -->
    <preference name="windows-appx-target" value="8.1-phone" />
    <preference name="WindowsToastCapable" value="true" />

    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
   
    
    <splash src="./www/img/Default@2x~universal~anyany.png" />
    <splash src="./www/img/Default@2x~universal~comany.png" />
    <splash src="./www/img/Default@2x~universal~comcom.png" />
    <splash src="./www/img/Default@3x~universal~anyany.png" />
    <splash src="./www/img/Default@3x~universal~anycom.png" />
    <splash src="./www/img/Default@3x~universal~comany.png" />
    
    <platform name="android">
         
        <allow-intent href="market:*" />
        <icon density="ldpi" src="./www/img/doctum800x800.png" />
        <icon density="mdpi" src="./www/img/doctum800x800.png" />
        <icon density="hdpi" src="./www/img/doctum800x800.png" />
        <icon density="xhdpi" src="./www/img/doctum800x800.png" />
        <icon density="xxhdpi" src="./www/img/doctum800x800.png" />
        <icon density="xxxhdpi" src="./www/img/doctum800x800.png" />
        
       
    </platform>

    <platform name="ios">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="./www/img/doctum800x800.png" />
        <icon density="mdpi" src="./www/img/doctum800x800.png" />
        <icon density="hdpi" src="./www/img/doctum800x800.png" />
        <icon density="xhdpi" src="./www/img/doctum800x800.png" />
        <icon density="xxhdpi" src="./www/img/doctum800x800.png" />
        <icon density="xxxhdpi" src="./www/img/doctum800x800.png" />
    </platform>
    
</widget>